.row-tx{
    background-image: url('/assets/backgrounds/h_img.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 800px;
    
}
.centered{
    text-align: center;
    color: white;
    margin-left:25%;
    margin-top:7%;
    margin-bottom:14%;
}
.img-tx{
    margin-bottom: 200px;
   
    margin-left: 50%;
}
h1{
    text-align: center;
    margin-top: 70px;
    margin-bottom: 40px;
}
.para1{
    text-align: center;
    margin: 2% 20% 5% 20%;
}
.row-yx{
    background-image: url('/assets/backgrounds/s_image.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 340px;
}
.h1-2{
    color: aliceblue;
    text-align:center;
}
.para2{
    color: white;
}
.cont-a{
    display: flex;
    flex-direction: center;
    justify-content:space-around; 
}
h3{
    text-align: center;
    margin: 50px;
}
.contain-f{
    padding: 15px;
}

